{% extends 'base.html' %}
{% block content %}
{% load static  %}

<div class="main-container">
  <div class="card">
    <a href="{% url 'create' %}"><img src="{% static 'assets/bank1.png' %}" alt=""></a>
    <p>CREATE</p>
  </div>
  <div class="card">
    <a href="{% url 'pin' %}"><img src="{% static 'assets/bank2.png' %}" alt=""></a>
    <p>PIN</p>
    <!-- <a href="{% url 'pin' %}">PIN</a> -->
  </div>
  <div class="card">
    <a href="{% url 'dep' %}"><img src="{% static 'assets/bank5.png' %}" alt=""></a>
    <p>DEPOSITE</p>
    <!-- <a href="{% url 'dep' %}">Deposit</a> -->
  </div>
  <div class="card">
    <a href="{% url 'take' %}"><img src="{% static 'assets/bank4.png' %}" alt=""></a>
    <P>WITHDRAW</P>
    <!-- <a href="{% url 'take' %}">Withdraw</a> -->
  </div>
    <div class="card">
    <a href="{% url 'bal' %}"><img src="{% static 'assets/bank3.png' %}" alt=""></a>
    <p>BALANCE</p>
    <!-- <a href="{% url 'bal' %}">Balance</a> -->
  </div>
  <div class="card">
    <a href="{% url 'transfer' %}"><img src="{% static 'assets/bank6.png' %}" alt=""></a>
    <p>ACCOUNT TRANSFER</p>
    <!-- <a href="{% url 'transfer' %}">Account Transfer</a> -->
  </div>

</div>
{% endblock content %}