{% extends 'base.html' %}
{% block content %}
<div>
    <a href="{% url 'index' %}"><button class="back-button" >← Back</button></a>
</div>
<form action="" method="post">
    {% csrf_token %}
    FROM ACCOUNT <input type="number" name="f_acc" id="">
    <br><br>
    TO ACCOUNT <input type="number" name="t_acc" id="">
    <br><br>
    PIN <input type="number" name="pin" id="">
    <br><br>
    AMT <input type="number" name="amt" id="">
    <br><br>
    <button type="submit" class="btn">SUBMIT</button>
</form>
<center>{% if error %}
    <h3 style="color: red;">{{ error}}</h3>
{% endif %}
{% if success %}
    <h3 style="color: green;">{{ success}}</h3>
{% endif %}</center>
{% endblock content %}